[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
async-sqlserver-lib = "*"
pydantic = "*"
asyncio = "*"
orjson = "*"
asyncpg = "*"
pytz = "*"
psutil = "*"
fastapi = {extras = ["extras"], version = "*"}
uvicorn = {extras = ["extras"], version = "*"}
selenium = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.12"
